BlackJackClient/xml-resources/jaxb/SettingsXMLBinding/settings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="settings">
        <xs:complexType>
			<xs:sequence>
				<xs:element name="server">
					<xs:complexType>
						<xs:attribute name="url" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
        </xs:complexType>
    </xs:element>
	
	
</xs:schema>